@import "~bootstrap/dist/css/bootstrap.min.css";
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  height: 30rem;
  width: 20rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  flex-direction: column;
}

.top-suit {
  display: flex;
  align-items: center;
  font-size: 7rem;
  align-self: flex-start;
  margin-left: 1rem;
}

.card-body {
  display: flex;
  font-size: 8rem;
  align-self: center;
  align-items: center;
  padding: 0;
}

.bottom-suit {
  display: flex;
  align-items: center;
  font-size: 7rem;
  align-self: flex-end;
  transform: rotate(180deg);
  margin-right: 1rem;
}
